{% extends "base.html" %}
{% block content %}
        <article class='main-content'>
          <header class='article-header'>
            <h1 class='page-title'>ulug consitution</h1>
          </header>
          <section>
            <hgroup class='section-title'>
              <h1>Article 1</h1>
              <h2>Name and Purpose</h2>
            </hgroup>
            <p>
              The ULUG or ULUG Student Linux User Group is a Linux Users Group (LUG).
              Our purpose as a Linux User's Group is to provide an environment to facilitate learning of the GNU/Linux system and all free/open source software.

              This includes but is not limited to the following:

              <ul>
                <li>Providing support users in the use of free/open source software</li>
                <li>Promoting the use of free/open source software</li>
                <li>Promoting freedom both inside and outside of software development</li>
                <li>Contributing to the open source community</li>
              </ul>
            </p>
          </section>
        </article>
{% endblock %}
