{% extends "base.html" %}
{% block content %}
    <article class='main-content'>
        <section>
            <hgroup class='section-title'>
                <h1>Officers</h1>
                <h2>... and their responsibilities</h2>
            </hgroup>
            <p>
                <ul>
                    <li>President- John Fresco &lt;&#106;&#111;&#104;&#110;&#46;<i></i>&#102;&#114;&#101;&#115;&#99;&#111;<b></b><u></u>&#64;<i></i>&#117;&#116;<u></u>&#97;<i></i>&#104;&#46;&#101;&#100;&#117;<u></u>&gt; </li>
                    <li>Vice President- Mitch West &lt;&#109;&#105;&#116;&#99;&#104;&#101;&#108;<i></i>&#46;<b></b>&#119;&#101;<i></i>&#115;&#116;<i></i>&#64;<b></b>&#117;&#116;&#97;<u></u>&#104;&#46;<b></b>&#101;<u></u>&#100;&#117;<u></u>&gt;
                    <li>Advisor- Aaron Toponce &lt;&#97;&#97;<b></b>&#114;&#111;&#110;&#46;&#116;<u></u>&#111;&#112;&#111;<b></b>&#110;&#99;&#101;<u></u><i></i>&#64;<i></i><i></i>&#117;&#116;<u></u>&#97;&#104;&#46;&#101;&#100;&#117;&gt;</li>
                </ul>
                <p>
            </p>
        </section>
    </article>
{% endblock %}
